<%- include('../port/layout-start', {title: title}) %>
    <%- include('../port/menu') %>
<p>
    <b>ID:</b>         <%= user.id %><br />
    <b>Username:</b>   <%= user.user %><br />
    <b>Name:</b>       <%= user.displayName %><br />
    <% if (user.emails) { %>
        <b>Email:</b>  <%= user.emails[0].value %><br />
    <% } %>
</p>
<a href="/logout">Выйти</a>

<%- include('../port/layout-end') %>