<%- include('../port/layout-start', {title: title}) %>
    <%- include('../port/menu') %>
<p>
    <b>ID:</b>         <%= user._id %><br />
    <b>Username:</b>   <%= user.username %><br />
    <b>Email:</b>  <%= user.email %><br />
</p>
<a href="/logout">Выйти</a>

<%- include('../port/layout-end') %>